:root{
  /* Color styles */
--white: #FFFFFF;
--gray--100: #BCC3C7;
--gray--500: #6D7478;
--gray--950: #040404;
--green--100: #03CC5C;
--blue--100: #01A9FF;
--blue--200: #4284F7;

/* Effect styles */
--shadow--100:  0px 4px 4px rgba(68, 131, 63, 0.15);

}

.widgetBarGroup{
  display: flex;  
  width: 192px;
  height: 72px;
  min-width: 192px;
  padding: 16px 8px 16px 16px;
  /* justify-content: space-between; */
  border-radius: 6px;
  background: var(--white, #FFF);
  box-shadow: 0px 4px 4px 0px rgba(181, 181, 181, 0.15);  
}

.widgetGroup {
  align-items: flex-start;
  flex-direction: column;
  gap: 4px;
  flex: 1 0 0;
}

.KosdaqIndex{
  color: var(--gray-950, #040404);
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 20px */
  letter-spacing: -0.4px;
  padding-bottom: 4px;
}

.Kosdaq{
  color: var(--gray-500, #6D7478);
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 12px */
  letter-spacing: 0.12px;
}

.KosdaqPercent{
  color: var(--blue-200, #4284F7);
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 12px */
  letter-spacing: 0.12px;
}